@import "url('https://fonts.googleapis.com/css?family=Questrial')";

* {
  box-sizing  : border-box;
  margin      : 0;
  padding     : 0;
  font-family : 'Questrial',
                sans-serif;
}

body {
  display          : flex;
  width            : 100vw;
  height           : 100vh;
  color            : white;
  background-color : black;
  align-items      : center;
  flex-direction   : column;
  justify-content  : center;
}

header {
  display         : flex;
  width           : 100%;
  height          : 50vh;
  align-items     : center;
  flex-direction  : column;
  justify-content : flex-end;
}

header h1 {
  font-size     : 4em;
  margin-bottom: 7px;
}

header p {
  font-size     : 1.1em;
  margin-bottom: 17px;
}

main {
  display         : flex;
  width           : 100%;
  height          : 50vh;
  align-items     : flex-start;
  flex-direction  : row;
  justify-content : center;
}

.icon {
  margin-bottom: 7px;
  margin-left      : 10px;
  padding          : 15px;
  color            : black;
  border-radius    : 50%;
  background-color : rgba(255, 255, 255, 0.95);
}

#second-row {
  margin-left : 10px;
}

/* the width of the target display area */

@media
  screen
  and (max-width : 600px) {
  main {
    align-items     : center;
    flex-direction  : column;
    justify-content : flex-start;
  }
}

/* the width of the device's entire rendering area */

@media
  screen
  and (max-device-width : 500px) {
  main {
    align-items     : center;
    flex-direction  : column;
    justify-content : flex-start;
  }
}
