@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

$font-sizes: (
	"h1": 3rem,
	"h2": 2rem,
	"h3": 1.6rem,
	"accent":1.5rem,
	"text": 1.2rem
);

@function size($font-class) {
	@return map-get($font-sizes, $font-class);
}

@mixin section {
	margin: 1.5em 0;

	h2 {
		font-size: size(h2);
		margin: 1em 0 0.5em;
		text-align: center;
	}
}

@mixin specialList {
  list-style-type: none;
  margin-bottom: 0;
  
	&:before {
    content: "[ ";
	}
  
	&:after {
    content: " ]";
	}
}
