@import "config";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.wrapper {
	width: 80%;
	padding: 4em 0 2em;
}

p,
li {
	font-size: size(text);
	line-height: size(text) + 0.4rem;
}

li {
	margin-left: 1em;
	margin-bottom: 0.5em;
}

a {
	color: #ff4500;
	text-decoration: none;
	font-weight: 600;

	&:hover,
	&:focus {
		font-weight: 400;
	}
}

img {
	max-width: 100%;
	display: none;
	height: auto;
}

span {
	font-weight: 600;
	font-size: 1.5rem;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__h1 {
		font-size: size(h1);
		text-align: center;
	}

	&__nav {
		margin: 0.5em 0;

		li {
			@include specialList;
			text-align: center;
		}
	}
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#current {
	@include section;
}

#projects {
	@include section;
	h3 {
		font-size: size(h3);
		margin-bottom: 1em;
	}
}

.projects {
	&__cardDiv {
		margin: 2em auto 4em;
		display: flex;
		flex-wrap: wrap;
	}

	&__demoImg {
		width: 100%;
	}

	&__descDiv {
		margin: 1em 0;
		width: 100%;
	}
}

#writing {
	@include section;

	li {
		list-style: none;
	}

	a {
		color: black;
		font-size: 1.5rem;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;

	#contact {
		@include section;
	}

	li {
		@include specialList;
	}
}

@media screen and (min-width: 1500px) {
	main {
		.projects {
			&__demoImg {
				width: 55%;
			}

			&__descDiv {
				margin: 0;
				margin-left: 2em;
				width: 40%;
			}
		}
	}
}

@media screen and (min-width: 600px) {
	img {
		display: block;
	}
}
