---
title: brainDump
permalink: /
---

<div class="tagCloud">
  {% for category in site.categories %}
    <a class="tagCloud__tag" href="{{ site.baseurl }}/categories/{{ category[0] }}">{{ category[0] }}</a>
  {% endfor %}
</div>

<ul class="blog__ul">
  {% for post in site.posts %}
    {% if post.category != 2019 %}
      <li class="blog__li">
        <span class="blog__date">
          {{ post.date | date: "%b %d %Y" }}
        </span>
        <span class="blog__name">
          <a href="{{ post.url | relative_url }}" class="blog__link">{{ post.title }}</a>
        </span>
      </li>
    {% endif %}
  {% endfor %}
</ul>
