---
title: log
permalink: /
---

<div class="tagCloud">
  {% for tag in site.tags %}
    <a class="tagCloud__tag" href="{{ site.baseurl }}/tags/{{ tag[0] }}">{{ tag[0] }}</a>
  {% endfor %}
</div>

{% for category in site.categories %}
  <h3>{{ category[0] }}</h3>
  <ul class="blog__ul">
    {% for post in category[1] %}
      <li class="blog__li">
        <span class="blog__date">
          {{ post.date | date: "%b %Y" }}
        </span>
        <span class="blog__name">
          <a href="{{ post.url | relative_url }}" class="blog__link">{{ post.title }}</a>
        </span>
      </li>
    {% endfor %}
  </ul>
{% endfor %}
