@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Montserrat:600|Roboto&display=swap");

$cursor:url("../assets/images/cursor.cur"), auto;

$colors: (
	"text": black,
	"background": white,
  "favorite": rgb(255, 140, 0),
  "highlight": rgb(252, 202, 141),
	"weak": rgb(233,236,239)
);

$fonts: (
	"title": "Montserrat",
	"heading": "Open Sans",
	"text": "Roboto"
);

@function color($colorClass) {
	@return map-get($colors, $colorClass);
}

@function font($usage) {
	@return map-get($fonts, $usage);
}
