.tagCloud{
	display:flex;
	flex-wrap: wrap;
	margin: 2em 0;

	&__tag{
		border:2px solid color(highlight);
		border-radius: 4px;
		margin: 0.2em;
		padding: 0 0.4em;

		&:hover {
			transform: translateY(10%);
		}
	}
}

.blog,.tags {
	&__ul {
		list-style: none;
		margin-left: 0;
	}

	&__li {
		display: flex;
		flex-wrap: wrap;
		white-space: nowrap;
		margin: 0.25em 0;
	}

	&__date {
		width: 6rem;
	}

	&__name {
		margin-left: 0.5rem;
		flex: 5;
	}

	&__link {
    color: color(text);
    font-family: font(text);
	}
}

.folderIcon {
	color: color(favorite);
	margin-right: 0.25rem;
}