h1 {
	font-family: font(title);
	font-size: 2rem;
	line-height: 2.5rem;
	margin-top: 0.5em;
	padding-bottom: 0.25em;
}

h2 {
	font-family: font(heading);
	font-size: 1.5rem;
	line-height: 2rem;
	margin-top: 2em;
}

h3 {
	font-family: font(heading);
	font-size: 1.3rem;
	line-height: 1.8rem;
	margin-top: 1.5em;
}

p {
	font-family: font(text);
	margin: 1em 0;
	font-size: 1rem;
	line-height: 1.5rem;
	cursor:url("/assets/images/cursor.cur"), auto;
}

ul,
ol {
	font-family: font(text);
	margin: 1em 0 1em 1rem;
}

li {
	font-family: font(text);
	font-size: 1rem;
	line-height: 1.5rem;
	margin: 0.5em 0;
}

h2 + p,
h2 + ul,
h2 + ol,
h3 + p,
h3 + ul,
h3 + ol {
	margin-top: 0.5em;
}

a {
	font-family: font(title);
	color: color(favorite);
	text-decoration: none;

	&:hover,
	&:focus {
		color:color(text);
		cursor:pointer;
	}
}
