@import "config";
@import "typography";
@import "headerFooter";
@import "page";
@import "post";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	overflow-y: scroll; //add scroll bar to prevent repositioning
	display:grid;
	grid-template-columns: 3% 94% 3%;
}

body {
	min-height: 100%;
	max-width: 100%;
	grid-column: 2/3;
	display: flex;
	flex-flow: column;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
	max-height: 3%;
	margin: auto;
}

footer {
	margin-top: auto;
}

@media screen and (min-width: 650px) {
	html {
		grid-template-columns: auto 650px auto;
	}

	.blog,
	.notes,
	.index {
		&__tag {
			display: block;
		}
	}
}
