<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Ming's {{ site.title }}</title>

		<!-- style -->
		<link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" rel="stylesheet" />
		<link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" />

		<!-- icon -->
		<link href="{{ site.baseurl }}/assets/images/favicon.ico" rel="shortcut icon" />

		<!-- seo -->
		{% seo %}

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143753322-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() {
				dataLayer.push(arguments);
			}
			gtag("js", new Date());

			gtag("config", "UA-143753322-2");
		</script>
	</head>
	<body>
		<header class="header">
			<a href="{{site.baseurl}}/" class="header__siteName">{{ site.title }}</a>
		</header>
		<main>
			{{content}}
		</main>
		<footer class="footer">
			<p class="footer__p"><a href="{{ site.social-links.repo }}">Everything</a> by Ming🙋</p>
		</footer>
	</body>
</html>
