---
layout: post
---

<p>
	I am building small projects to practice my Vanilla JavaScript. For this reason, I started a 30 days Vanilla JS challenge named "JavaScript 30".
</p>
<p>
	In this post I will try to summarize a project which is based on tutorial {{ page.tutorial_number }}: {{ page.tutorial_name }}, to ensure that I am not blindly following the tutorial but can explain what I learned as well. You can <a href="{{ page.demo_link }}">view demo here</a> or <a href="{{ page.sourceCode_link }}">view source code here</a> for this build. I highly recommend you to check out
	the <a href="https://javascript30.com/">JavaScript 30 by Wes Bos</a> if you are seeking a clearer explanation on how to build this project.
</p>

{{ content }}

<p>
	And... that's how the JavaScript works. Thanks for reading.
</p>
